/* Inicio header */
body{
    margin: 0;
    padding: 0;
    background-color: #e7eaf0;
}

.header {
    display: flex;
    flex-direction: row;
    background-color:  #F8F5EC;
    padding-left: 380px;
    border-bottom: 4px solid #184062; 
}
.titulo{
    font-size: 28px;
    color:#184062 ; 
}
/* Final header  */

/* pipefy */

.containerPipefy{
    width: 74rem ;
    height: 85vh;
    margin-left: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxPipefy{
    width: 75%;
    height: 90%;
    margin-top: 2%;
    border: solid 1px #184062;
    border-radius: 28px;
}
.formularioHelpDesk{
    width: 100%;
    height: 100%;

    border-radius: 30px;
}
iframe{
    height: 500px;
}